html,
body {
  padding: 0%;
  margin: 0%;
}
.card-container {
  max-width: 500px;
  height: 50vh;
  margin: 30px auto auto auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 2px solid rgb(227, 227, 228) !important;
}
