.card-container {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: auto auto auto 80%;
  border-bottom: 2px solid rgb(227, 227, 228) !important;
}
.break {
  height: 10px;
}
/* .card-section {
  display: flex;
  flex-direction: row;
  margin: 0;
} */
.user-info {
  display: flex;
  flex-direction: row;
  line-height: 5px;
  /* width: 300px; */
}
.section-profile {
  display: flex;
}
